name: CI + Jira Integration

on:
  push:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Get commit message
        id: getmsg
        run: |
          echo "msg=$(git log -1 --pretty=%B)" >> $GITHUB_OUTPUT

      - name: Extract Jira Issue
        id: extract
        run: |
          commit="${{ steps.getmsg.outputs.msg }}"
          echo "Commit = $commit"

          jira=$(echo "$commit" | grep -oE 'KAN-[0-9]+')

          if [ -z "$jira" ]; then
            echo "âŒ Jira issue missing!"
            exit 1
          fi

          echo "jira=$jira" >> $GITHUB_OUTPUT

      - name: Move to In Progress
        run: |
          curl -X POST \
            -H "Authorization: Basic $(echo -n '${{ secrets.JIRA_EMAIL }}:${{ secrets.JIRA_TOKEN }}' | base64)" \
            -H "Content-Type: application/json" \
            -d '{"transition":{"id":"11"}}' \
            "${{ secrets.JIRA_URL }}/rest/api/3/issue/${{ steps.extract.outputs.jira }}/transitions"

      - name: Build
        run: echo "building..."

      - name: Tests
        run: echo "testing..."

      - name: Jira Comment
        run: |
          curl -X POST \
            -H "Authorization: Basic $(echo -n '${{ secrets.JIRA_EMAIL }}:${{ secrets.JIRA_TOKEN }}' | base64)" \
            -H "Content-Type: application/json" \
            -d "{\"body\": \"Build Success on GitHub Actions\"}" \
            "${{ secrets.JIRA_URL }}/rest/api/3/issue/${{ steps.extract.outputs.jira }}/comment"

      - name: Move Issue to Done
        run: |
          curl -X POST \
            -H "Authorization: Basic $(echo -n '${{ secrets.JIRA_EMAIL }}:${{ secrets.JIRA_TOKEN }}' | base64)" \
            -H "Content-Type: application/json" \
            -d '{"transition":{"id":"31"}}' \
            "${{ secrets.JIRA_URL }}/rest/api/3/issue/${{ steps.extract.outputs.jira }}/transitions"
